footer {
    color: rgb(222, 215, 196);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border-bottom: $headerBoderColor;
  }
  h5 {
    font-size: 16px;
  }
  
  footer li {
    display: flex;
    list-style: none;
  }
  footer a {
    position: relative;
    top: 15px;
    padding: 5px;
  }
  