header{
    display: flex;
    align-items: center;
    justify-content: space-between
    h1{
        background-color: blue
    };
}

body {
    background-color: aqua;
  }
  
  li {
    background-color: aqua;
  }
  li a {
    color: antiquewhite;
    transition: 0.5s;
  }
  li a:hover {
    color: red;
  }/