body {
  background-repeat: no-repeat;
  background-position: left center;
  font-family: "Cinzel", sans-serif;

}

header {
  @extend %headerGeneral
}

h4 {
@extend %h4Header
}

.navbar-toggler {
  position: absolute;
  background-color: rgb(234, 154, 39);
  top: 10px;
  left: 140px;
  font-size: 13px;
  border: solid rgb(0, 0, 0);
}

header {
  li {
    position: relative;
    width: auto;
    list-style: none;
    color: rgb(234, 154, 39);
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
  }
}

header {
  a {
    color: map-get($links, linkColorHeader );
    text-decoration: none;
    font-size: 15px;
    transition: color 1s, font-size 1s;
  }
}


nav {
  a {
    &:hover {
      color: map-get($links, linkColorHeaderHover);
      font-size: 16px;
    }
  }
}

.slogan {
  color: rgb(0, 0, 0);
  position: absolute;
  font-size: 19px;
  font-weight: 900;
  top: 250px;
  left: 1px;
  font-family: Libre + Baskerville;
}




// Media queries-----------------------------------


@media screen and (min-width: 600px) and (orientation: landscape) {
  .navbar-toggler {
    position: absolute;
    background-color: rgb(234, 154, 39);
    top: 10px;
    left: 230px;
    font-size: 13px;
    border: solid rgb(0, 0, 0);
  }

  .slogan {
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 30px;
    font-weight: 900;
    top: 200px;
    left: 80px;
    font-family: Libre + Baskerville;
  }
}


@media screen and (min-width: 700px){
  .navbar-toggler {
    position: absolute;
    background-color: rgb(234, 154, 39);
    top: 10px;
    left: 220px;
    font-size: 13px;
    border: solid rgb(0, 0, 0);
  }

  .slogan {
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 30px;
    font-weight: 900;
    top: 200px;
    left: 80px;
    font-family: Libre + Baskerville;
  }
}



/* Descktop---------------------------------------- */
@media screen and (min-width: 1200px) {
  h4 {
    top: 20px;
    margin: auto;
    position: relative;
    left: 1px;
  }

  .slogan {
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 40px;
    font-weight: 900;
    top: 250px;
    left: 100px;
    font-family: Libre + Baskerville;
  }
}