main form {
  position: relative;
  text-align: center;
  left: 22%;
  top: 10px;
  margin: 20px;
  color: rgb(234, 154, 39);
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: solid rgb(234, 154, 39);
}

@media screen and (min-width: 800px) {

  main form {
    left: 30%;
    top: 10px;
  }

}


@media screen and (min-width: 600px) and (orientation: landscape) {

  main form {
    left: 40%;
    top: 10px;
  }

}