main form {
  text-align: center;
  color: rgb(234, 154, 39);
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: solid rgb(234, 154, 39);
}


.locat {
  background-color: rgb(0, 0, 0);
margin-top: 10px;
border: solid rgb(234, 154, 39);
border-radius: 10px;

}

.textLoc {
  text-align: center;
  color: rgb(255, 255, 255);
  
}

.imgloc {
  border-radius: 10px;
}


////desktop
@media screen and (min-width: 390px) {
  .formulario {
    position: relative;
    left: 100px;
  }
  .locat{
    position: relative;
    left: 85px;
  }
}