$borders:(
headerBorder: 03px solid rgb(234, 143, 39),
borderRadius: 10px
);


$links:(
linkColorHeader:rgb(234, 154, 39),
linkColorHeaderHover:rgb(222, 215, 196),
);

$footers:(
borderFooterColor:3px solid rgb(234, 143, 39),
footerColor: rgb(222, 215, 196)
);