body {
  background-image: url(../images/logosinu.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  font-family: "Cinzel", sans-serif;

  overflow-x: hidden;
}

header .logo {
  position: absolute;
  top: 15px;
  left: 50px;
}

.titulos {
  position: relative;
  left: 170px;
  color: rgb(222, 215, 196);
  font-weight: 900;
  text-decoration: none;
  padding-bottom: 20px;
}



main img {
  margin-top: 10px;
  border-radius: 10px;
  border-style: solid;
}
.slogan {
  color: rgb(0, 0, 0);
  position: absolute;
  font-size: 40px;
  font-weight: 900;
  top: 300px;
  left: 100px;
  font-family: Libre + Baskerville;
}

/* ---------SOBRENOSOTROS------ */
.abaut {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 900;
  font-family: Libre + Baskerville;
}

/* --------------CONTACTO-------------  */
main form {
  position: relative;
  text-align: center;
  left: 40%;
  top: 10px;
  color: rgb(234, 154, 39);
  background-color: rgb(0, 0, 0);
  width: 200px;
  border-radius: 10px;
  border-bottom: 03px solid rgb(234, 154, 39);
  border-top: 03px solid rgb(234, 154, 39);
  border-left: 03px solid rgb(234, 154, 39);
  border-right: 03px solid rgb(234, 154, 39);
}
/* Inicio grid index------------------------------ */
.grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "article article article"
    "promotios promotios promotios"
    "new_products new_products new_products"
    "footer footer footer";
  grid-template-columns: 20% auto 15%;
  grid-template-rows: 145px 715px 400px 300px 300px 105px;
  row-gap: 10px;
}

.border {
  border: 2px solid;
  color: black;
}
/* ---Inicio grid Header--- */

header {
  grid-area: header;
  background-image: linear-gradient(to bottom, rgb(234, 154, 39), rgb(0, 0, 0), rgb(0, 0, 0));
  border-bottom: 03px solid rgb(234, 154, 39);
  padding: 26px;
  border-radius: 10px;
}

header nav {
  width: 50%;
  position: absolute;
  right: 495px;
  top: 80px;
}

header .listas {
  display: flex;
  justify-content: space-evenly;
  padding-right: 1px;
}

header li {
  display: none;
  width: auto;
  list-style: none;
  color: rgb(234, 154, 39);
  text-decoration: none;
  font-size: 15px;
  margin: 0px;
}

header a {
  color: rgb(234, 154, 39);
  text-decoration: none;
  font-size: 15px;
  margin: 0px;
  transition: color 1s, font-size 1s;
}
nav ul li a:hover {
  color: rgb(222, 215, 196);
  font-size: 16px;
}

/* ---Fin grid Header--- */

main {
  grid-area: main;
}
#news {
  grid-area: article;
}
#promotions {
  grid-area: promotios;
}
#new_products {
  grid-area: new_products;
}
/* ---Inicio grid Footer--- */
footer {
  grid-area: footer;
}
footer .footerList {
  display: flex;
  list-style-type: none;
  color: rgb(222, 215, 196);
  background-color: rgb(0, 0, 0);
  border-bottom: 03px solid rgb(234, 154, 39);
  border-radius: 10px;
  padding: 15px;
}
footer a {
  position: relative;
  top: 20px;
  right: 300px;
  margin: 5px;
}
footer h4 {
  position: relative;
  bottom: 30px;
}
/* -------------------Fin grid Footer--- */

/* Fin grid index------------------------------------ */

/* Inicio grid about------------------------- */

/* .gridAbout {
  display: grid;
  grid-template-areas:
    "headerA"
    "mainA"
    "company"
    "acknowledgments"
    "footerG";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 10px;
}
.borderG {
  border: 2px solid;
  color: black;
}
.headerAbout{
  grid-area: headerA;
}

.mainAbout{
  grid-area: mainA;
}
#AboutCompany{
  grid-area: company;
}
#acknowledgments{
  grid-area: acknowledgments;
}
.footerAbout {
  grid-area: footerG;
}
.footerAbout .footerList {
  display: flex;
  list-style-type: none;
  color: rgb(222, 215, 196);
  background-color: rgb(0, 0, 0);
  border-bottom: 03px solid rgb(234, 154, 39);
  border-radius: 10px;
  padding: 15px;
}
.footerAbout a {
  position: relative;
  top: 20px;
  right: 300px;
  margin: 5px;
}
.footerAbout h4 {
  position: relative;
  bottom: 30px;
} */
/* Fin grid about---------------------------- */



/* ------Inicio Grid Galeery---- */
.gridGallery {
  display: grid;
  grid-template-areas:
    "headerG"
    "mainG"
    "ph1"
    "ph2"
    "ph3"
    "ph4"
    "ph5"
    "ph6"
    "footerG";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  row-gap: 10px;
}
.borderG {
  border: 2px solid;
  color: black;
}
.headerGallery {
  grid-area: headerG;
}
.mainGallery {
  grid-area: mainG;
  border: 2px solid;
  color: black;
}
#ph1 {
  grid-area: ph1;
}
#ph2 {
  grid-area: ph2;
}
#ph3 {
  grid-area: ph3;
}
#ph4 {
  grid-area: ph4;
}
#ph5 {
  grid-area: ph5;
}
#ph6 {
  grid-area: ph6;
}

.footerGallery {
  grid-area: footerG;
}
.footerGallery .footerList {
  display: flex;
  list-style-type: none;
  color: rgb(222, 215, 196);
  background-color: rgb(0, 0, 0);
  border-bottom: 03px solid rgb(234, 154, 39);
  border-radius: 10px;
  padding: 15px;
}
.footerGallery a {
  position: relative;
  top: 20px;
  right: 300px;
  margin: 5px;
}
.footerGallery h4 {
  position: relative;
  bottom: 30px;
}

/* Fin grid galery----------------------------- */

/* Responsive mobile horizontal */
@media screen and (max-width: 599px) and (orientation: landscape) {
  .gridGallery {
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
  }
}

/* Fin diseno para mobile---------------------------------------------------------------------- */

/* Responsive para tableta general------------------------ */
/* Responsive para tableta vertical------------------------ */
@media screen and (min-width: 600px) and (orientation: portrait) {
  .gridGallery {
    grid-template-areas:
      "headerG headerG"
      "mainG mainG"
      "ph1 ph2"
      "ph3 ph4"
      "ph5 ph6"
      "footerG footerG";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 200px 200px 200px 200px 100px;
    row-gap: 10px; 
  }
}
/* Fin responsive para tableta vertical------------------------ */


/* responsive tableta horizontal--------------- */
@media screen and (min-width: 600px) and (orientation: landscape) {
  .gridGallery {
    grid-template-areas:
      "headerG headerG headerG"
      "mainG mainG mainG"
      "ph1 ph2 ph3"
      "ph4 ph5 ph6"
      "footerG footerG footerG";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 145px 420px 300px 300px 120px;

    row-gap: 10px;
  }
  header li {
    display: flex;
  }
  header nav {
    width: 70%;
    position: absolute;
    right: 120px;
    top: 80px;
  }
}
/* Fin responsive tableta horizontal--------------- */

/* Fin responsive para tableta general------------------------ */

/* Responsive para desktop---------------------- */
@media screen and (min-width: 1200px) {
  .gridGallery {
    grid-template-areas:
      "headerG headerG headerG"
      "mainG mainG mainG"
      "ph1 ph2 ph3"
      "ph4 ph5 ph6"
      "footerG footerG footerG";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 145px 420px 300px 300px 120px;
    row-gap: 10px;
  }

  header li {
    display: flex;
  }

  header nav {
    width: 70%;
    position: absolute;
    right: 260px;
    top: 80px;
  }
}
/* Fin responsive para desktop---------------------- */
